.container
  width: 90%
  max-width: 1256px
  margin: auto
.row
  display: flex
  align-items: flex-start
  justify-content: space-between
  padding: 0 10px
.row-around
  display: flex
  align-items: flex-start
  justify-content: space-between
  padding: 0 114px  
  margin-bottom: 3.785rem
.col
  flex-basis: 32%
.col-1
  width: 45.06%  
.col-2
  width: 54.93% 
.col-3
  width: 26.5%  
.col-4
  flex-basis: 30.5%  

