@media screen and (min-width: 992px)
  .logo
    &:hover
      text-decoration: underline
  .contacts__phone
    &:hover
      text-decoration: none    
  .nav__item
    &:hover
      color: $primary
  .button--primary
    &:hover
      box-shadow: none
  .hero__link
    &:hover
      text-decoration: underline 
  .footer__phone
    &:hover
      text-decoration: underline
  .footer-email, .footer-instagram
    &:hover
      background-color: $primary


        
@media screen and (max-width: 1276px)
  .person
    padding: 1.714rem 0.2rem  4.7rem 0.3rem
    &__feedback
      line-height: 1.4rem
  .col-4
    flex-basis: 32% 

@media screen and (max-width: 1200px)
  html
    font-size: 12px
  .nav
    &__item
      margin-right: 1rem  
@media screen and (max-width: 992px)
  .projects
    padding-top: 2.57rem
    padding-bottom: 33rem
  .types
    padding-top: 6.071rem  
  .team
    padding-top: 5rem  
    &-person
      margin-bottom: 5.4rem
  .nav
    display: none
  .hero
    &__instagram
      display: none  
    &__content
      margin-left: 0  
  .card
    &__title
      font-size: 1.09rem    
  .row
    flex-direction: column
    align-items: center
  .types
    &__card
      margin-bottom: 4.29rem  
  .section-title-design__text
    color: $light  
  .design
    background: $dark
    &__section-title
      color: $light
    &__card
      margin-bottom: 4.29rem   
  .section-title
    &-design__heading
      color: $light
    &__text
      font-size: 1.07rem   
      color: $light   
  .card
    &__text
      margin-left: 0   
  .swiper 
    &-slide
      &-text
        flex-basis: 50%    
    &-switcher
      margin-top: 2.5rem          
  .col-1
    width: 100%
    margin-bottom: 3rem
  .col-2
    width: 100%    
  .control
    background-color: $dark  
    &__text
      color: $light
    &__label
      color: rgba(255, 255, 255, 0.5)
    &__input
      border-bottom: 1px solid rgba($light, 0.3) 
      color: $light
      &::placeholder 
        color: $light  
    &__policy
      &-label
        color: $light 
  .footer
    padding: 0
    background: $dark   
    &__wrap 
      margin-top: -9rem
      background-color: $dark
    &__form
      flex-direction: column
  .team
    background: $dark
    &__text
      display: none
      &::before
        display: none
  .row-around
    flex-direction: column
    align-items: center
  .col-3
    width: 21.714rem
    margin-bottom: 0  
  .clients
    display: none

           
@media screen and (max-width: 700px)    
  .swiper-slide
    &__heading
      font-size: 1rem         
    

@media screen and (max-width: 570px)   

  .contacts
    &__phone
      margin-right: 0
      color: $light
      text-decoration: none
    &__button
      display: none
  .title
    font-size: 1.64rem    
  .hero
    &::after
      display: none
    &__scroll-down
      display: none
    &__content
      max-width: 22.86rem
    &__text
      font-size: 1.29rem  
      margin-bottom: 2.28rem
    &__button
      display: block
      min-width: 24.14rem
      margin-bottom: 1.85rem   
  .card
    &__text
      width: 85%
      max-width: 270px    
    &__title
      font-size: 1.07rem     
    &__list
      font-size: 0.92rem
      margin-bottom: 1.43rem  
    &__pricetag
      width: 70.5%
      font-size: 1.07rem
    &--media-first
      display: none
    &--media-second
      display: block 
  .control
    padding-bottom: 0
    &__form
      flex-direction: column  
    &__button
      order: 4 
      transform: translateY(50%)
    &__policy-label
      margin-bottom: 2.857rem   
    &__text
      font-size: 1rem    
  .input-group
    &--first
      margin-bottom: 4.5rem  
    &--second
      margin-bottom: 0 
  .container
    &--flex
      display: flex
      flex-direction: column   
  .footer
    &__form
      flex-basis: 100%
    &__menu
      display: none 
    &__wrap
      width: 100%  
      margin-bottom: 2rem
    &__info
      order: 3  
    &__address
      font-size: 1.285rem  
    &-email
      margin-right: 10px  
    &__map
      order: 2  
      width: 100%
      height: 255px
      margin-bottom: 3rem
      overflow: hidden
    

@media screen and (max-width: 470px) 
  .hero
    background: $dark url('../img/hero-bg-mobile.jpg') no-repeat center / cover
  .modal
    &__dialog
      width: 80%
      padding: 3rem 1.21rem 1.8rem 
    &__close
      margin: 3px
      width: 28px
      height: 28px
    &__title
      font-size: 1.2rem  
    &__button
      display: flex
      flex-direction: row
      justify-content: center
      align-self: center
      padding: 1.428rem 0
      width: 100%    
  .section-title__word
    &::after
      display: none  
  .swiper-slide
    &__text
      flex-basis: 50%  
  .control
    &__video
      min-width: 24.285rem
      min-height: 14.785rem
      background: $dark url(../img/control_mobile.jpg) center no-repeat 
    &__policy-label
      justify-content: flex-start
      margin-left: 0  
    &__text
      line-height: 2rem  
  .video
    &__play
      width: 70px
      height: 70px
  .footer
    &__title
      margin-bottom: 3.714rem
    &__input-group
      margin-bottom: 4.5rem
      &--full-width
        margin-bottom: 1rem
    &__button
      width: 100%   
    &__policy
      margin-left: 0  
      margin-bottom: 4.809rem 
  .policy
    &__label
      &--center
        justify-content: flex-start
  .section-title-team__text
    font-size: 1.071rem      

@media screen and (max-width: 350px)
  .policy
    &__label
      font-size: 1rem
  .col-3
    width: 200px     
      
@media screen and (max-height: 650px)
  .hero
    &__scroll-down
      display: none
@media screen and (max-height: 420px)
  .header
    position: relative
  .hero
    padding-top: 3.571rem
    &__title
      line-height: 3.7rem
    &__text
      margin-bottom: 1rem   
    &::after
      display: none  
   
  .modal
    &__dialog
      padding: 2rem 3.5rem 1.5rem
    &__close
      width: 15px
      height: 15px
    &__title
      font-size: 1rem   
      margin-bottom: 1rem 
    &__input
      margin-bottom: 1.5rem 
      &-group
        margin-bottom: 1rem
    &__policy
      margin-bottom: 1rem  
    &__button
      align-self: flex-end
      padding: 10px 25px     
  .input
    font-size: 1rem  
  .policy
    &__label
      display: flex
      align-items: center
      font-size: 0.8rem
      &::before
        content: ''
        margin-right: 0.64rem
        width: 10px
        height: 10px
        border: 1px solid $primary
        border-radius: 1px
        cursor: pointer
  div.invalid
    margin-top: 3.3rem     

@media screen and (max-height: 320px)
  .hero
    padding-top: 3.571rem
    &__title
      line-height: 2rem
    &__text
      margin-bottom: 1rem  


