.clients
  &__section-title-clients
    margin-bottom: 3.5rem
.section-title-clients
  display: flex
  flex-direction: column
  align-items: center
  text-align: center
  text-transform: uppercase
  font-family: 'Yeseva One', cursiv
  font-weight: normal
  &__heading
    font-weight: normal
    font-size: 1.42rem
    margin-bottom: 1.214rem
  &__image
    display: flex
    justify-content: center
    align-items: center
    margin-bottom: 1.2rem
    &::before, &::after
      content: ''
      margin: 0 10px
      width: 32px
      height: 2px
      background-color: $primary
  &__text
    max-width: 53rem
    font-family: 'Futura Book', sans-serif
    font-size: 1.43rem
    line-height: 1.93rem
    color: $dark
    text-transform: none
.person
  &__heading
    display: flex
    align-items: center
  &__photo
    border-radius: 50%  
  &__name
    font-family: 'Yeseva One', cursiv
    font-weight: normal
    font-size: 1.285rem
    line-height: 1.642rem
    color: $dark
  &__feedback
    font-family: 'FuturaBookC', sans-serif
    font-size: 1.071rem
    line-height: 1.928rem
    color: $secondary
  &__footer
    display: flex
  &__squer
    display: flex
    align-items: center
    margin-right: 1px
    padding: 11px 14px 12px 17px
    background-color: $primary
  &__days
    display: flex
    align-items: center
    padding: 11px 14px 12px 12px
    background-color: $primary 
  &__sup-text
    font-family: 'Yeseva One', cursiv
    font-weight: normal
    font-size: 1.214rem
    line-height: 1.714rem
    text-transform: uppercase
    color: $light
.person-picture
  &__squer  
    margin-right: 15px 
  &__days
    margin-right: 15px


