.design
  &__section-title
    margin-bottom: 3.5rem
.section-title
  display: flex
  flex-direction: column
  align-items: center
  &__image
    margin-bottom: 1.2rem
  &__text
    max-width: 53rem
    font-family: 'Futura Book', sans-serif
    font-size: 1.43rem
    line-height: 1.93rem
    color: $dark
    text-transform: none  
.card
  &--design
    padding: 1.21rem 0 1.21rem 2.36rem
    text-align: left
