.hero
  position: relative
  display: flex
  flex-direction: column
  justify-content: center
  padding-top: 106px
  background: $dark url('../img/hero_bg.jpg') no-repeat center / cover
  color: $light
  height: 100vh
  &::after 
    content: ''
    position: absolute
    width: 100%
    height: 3.46rem
    bottom: 0
    left: 0
    background-color: $dark
    z-index: 5
  &::before
    content: ''
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    background-color: rgba($dark, 0.7)
  &__content
    position: relative
    max-width: 47.85rem
    margin-left: 5%
  &__title
    margin-bottom: 1.2rem  
  &__text
    margin: 0
    margin-bottom: 3.4rem
    max-width: 504px
    font-size: 1.57rem
    line-height: 131%
  &__button
    margin-right: 1.3rem 
    padding: 18px 26px 
  &__instagram
    position: absolute
    left: 0
    top: 0
    max-width: 90px
    height: 100%
  &__scroll-down 
    position: absolute
    display: flex
    justify-content: center
    align-items: center
    left: 0
    bottom: 0
    min-width: 17.64rem
    min-height: 6.92rem
    background-color: $dark
    font-family: 'Yeseva One', cursive
    font-weight: normal
    font-size: 0.85rem
    text-transform: uppercase
    text-decoration: none
    color: $light
    z-index: 19
    &::after
      content: ''
      background: url('../img/arrow-down.svg') no-repeat center
      margin-left: 19px
      width: 29px
      height: 29px
      border: 2px solid $primary
      border-radius: 50%
  &__link
    text-decoration: none
    color: $primary   
    &:hover
      text-decoration: underline    
.instagram
  display: flex
  justify-content: center
  align-items: center
  background-color: $dark
  &__link
    display: flex
    justify-content: center
    align-items: center
    font-size: 1.1rem
    line-height: 0.8rem
    text-transform: uppercase
    text-decoration: none
    color: $primary
    transform: rotate(90deg)
    &::after
      content: ''
      width: 51px
      height: 1px
      margin-left: 8px
      background-color: $primary
.title
  font-size: 2.857rem
  font-weight: normal
  text-transform: uppercase
  font-family: 'Yeseva One', cursive
  line-height: 3.78rem
  &--primary
    color: $primary
